.h1 {
    color: red;
}
.milanesas {
    color:violet;
}
div {
    width:400px; height:150px;
    background-color:#ad6be3;
    border: 4px dotted;
    padding:40px;
    margin:50px;
    display: inline-table;
    text-align:center;
}
div p {
    display: table-cell;
    vertical-align:middle;
    font-family: impact;
    font-size:32px;
    text-transform:
    uppercase;
    color:#330757;
}

.azul {
    background-color: blue;
}
.rojo {
    background-color: red;
}
.gris {
    background-color: grey;
}
.verde {
    background-color: green;
}

.dia1{
    background-color: red;
    font-size:32px;
    font-weight: bold;
}
.horarios1 {
    background-color: red;
    font-size:29px;
    font-style: italic;
}

.dia2 {
    background-color: aquamarine;
    font-size:32px;
    font-weight: bold;
}
.horarios2{ 
    background-color: aquamarine;
    font-size:29px;
    font-style: italic;
}
.dia3{
    background-color: green;
    font-size:32px;
    font-weight: bold;
}
.horarios3{
    background-color: green;
    font-size:29px;
    font-style: italic;
}
.dia4{
    background-color: aqua;
    font-size:32px;
    font-weight: bold;
}
.horarios4{
    background-color: aqua;
    font-size:29px;
    font-style: italic;
}
.dia5{
    background-color: blue;
    font-size:32px;
    font-weight: bold;
}
.horarios5{
    background-color: blue;
    font-size:29px;
    font-style: italic;
}
header {
    background-color:pink;
    font-size: 0.9em;
    font-size: 2.5ex;
    text-align: center;
    width: 100%;
    height: 100%;
}
footer {
    background-color: pink;
    font-size: 0.9em;
    font-size: 2.5ex;
    text-align: center;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    }

form {
    border: 2px solid #ccc;
    border-width: 10px;
    border-style: dashed;
    border-color: red;
}
ul {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.contenedor {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    
    
}

.media-query {
    display: flex;
    flex-wrap: wrap;
    width: 980px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: aqua;
}
@media only screen and (min-width: 320px) and (max-width: 576px) {
    .media-query {
        width: 100%;
        padding-left: 23px;
        flex-direction: column-reverse;
        background-color: #ad6be3;
    }
.cajas {
    width: 100%
}
}

@media only screen and (max-width: 320px) {

.boxes {
    display: grid;
        grid-template-rows: repeat(9, auto);
}

    .box1 {
        
        background-color: pink
        
    }
    
    .box2 {
        
        background-color: red;
      
    }
    
    .box3 {
        
        background-color: blue;
      
    } 
    .box4 {
        
        background-color: rgb(205, 150, 41);
       

}
.box5 {
    
    background-color: rgb(71, 71, 167);
    

}
.box6 {
   
    background-color: rgb(208, 40, 40);
    
}

.box7 {
    
    background-color: rgb(103, 109, 77);
    
}

.box8 {
    
    background-color: rgb(0, 166, 255);
    
}

.box9 {
    
    background-color: rgb(255, 0, 55);
    


 }}
 
@media only screen and (min-width: 321px) and (max-width: 768px) {
    .boxes {
        display: grid;   
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        gap: 10px;
    }

    .box1 {
        
        background: pink;
        
    }
    
    .box2 {
        background-color: red;
       
    }
    
    .box3 {
        
        background-color: blue;
        
    }
        .box4 {
            
        background-color: rgb(205, 150, 41);
            
    
    }
    .box5 {
       
         background-color: rgb(71, 71, 167);
        
    
    }
    .box6 {
        
        background-color: rgb(208, 40, 40);
        
   
    }

    .box7 {
        
        background-color: rgb(103, 109, 77);
        
    }
    
    .box8 {
       
        background-color: rgb(0, 166, 255);
        
    }
    
    .box9 {
        
        background-color: rgb(255, 0, 55);
       
    }
   }
   @media only screen and (min-width: 769px) {
   .boxes {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        gap: 10px;
   }
        .box1 {
        background: pink;
        
    }
    
    .box2 {
        
        background-color: red;
        
    }
    
    .box3 {
        
        background-color: blue;
    
    }
    
    .box4 {
        
            background-color: rgb(205, 150, 41);
            
    
    }
    .box5 {
        
        background-color: rgb(71, 71, 167);
        
    
    }
    .box6 {
        
        background-color: rgb(208, 40, 40);
        
    }
    
    .box7 {
        
        background-color: rgb(103, 109, 77);
        
    }
    
    .box8 {
        
        background-color: rgb(0, 166, 255);
        
    }
    
    .box9 {
        
        background-color: rgb(255, 0, 55);
    
    }
}
         .boxes {
            display:grid;
         }
     